@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap");

:root {
  negthree: #350042;
  negtwo: #342871;
  negone: #26547b;
  zero: #1f7f79;
  one: #30ac67;
  two: #7fd335;
  three: #fce61e;
}

html {
  font-family: "Manrope", sans-serif;
  background: grey;
}

svg {
  background: #ffffff;
}

#y-axis {
  background: green;
}
